<mat-toolbar color="primary"><span matTooltip="Click to open menu">
  <button mat-fab  color="warn" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button></span>&nbsp;&nbsp;&nbsp;EDS</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <button mat-raised-button routerLink="/members/list" (click)="sidenav.toggle()" color="primary">Members</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button mat-raised-button routerLink="/members/students" (click)="sidenav.toggle()" color="primary">Students</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button mat-raised-button routerLink="/members/tests" (click)="sidenav.toggle()" color="primary">Tests</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a mat-raised-button color="warn" (click)="sidenav.toggle();doLogout()">
          Logout</a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content role="main">
  	<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

